<div class="border-box">
	<h1>Roles Page</h1>
	<a class="btn btn-default" href="#admin/roles/add" role="button">Add</a>
	<div class="table-responsive">
		<table class="table">
				 
				<thead>
					<th>#</th>
					<th>Code</th>
					<th>Description</th>
					<th>Last Updated Date</th>
					<th>Last Updated By</th>
					<th></th>
				</thead>
				 <tbody>
				 
				
					<tr ng-repeat="role in roles">
						<td>{{role.id | number}}</td>
						<td>{{role.code}}</td>
						<td>{{role.descr}}</td>
						<td>{{role.lastUpdatedtm | date}}</td>
						<td>{{role.lastUpdatedBy}}</td>
						<td>
							<a class="btn btn-default" href="#/admin/roles/{{role.id | number}}" role="button">Edit</a>
							<input type="button" class="btn btn-default" ng-click="delete(role)" value="Delete"/>
						<td>
					</tr>
				 
				</tbody>
		 </table>
	</div>
</div>