<div class="container-fluid">
	<h1>Roles Page</h1>
	<div class="table-responsive">
		<div class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Code</th>
					<th>Description</th>
					<th>Last Updated Date</th>
					<th>Last Updated By</th>
					<th></th>
				</tr>
				</thead>
				<div ng-repeat="role in roles" class="table table-striped table-bordered">
					<tr>
						<td>{{role.id | number}}</td>
						<td>{{role.code}}</td>
						<td>{{role.descr}}</td>
						<td>{{role.lastUpdatedtm | date}}</td>
						<td>{{role.lastUpdatedBy}}</td>
						<td>
							<a class="btn btn-default" href="#" role="button">Edit</a>
							<a class="btn btn-default" href="#" role="button">Delete</a>
						<td>
					</tr>
				</div>
			</thead>


		</div>
	</div>
</div>